[mcu]
serial: /dev/ttyACM0

[temperature_sensor raspberry_pi]
sensor_type: temperature_host

[mcu]
serial:  /dev/serial/by-id/usb-Klipper_stm32g0b1xx_330054000C504B5735313920-if00

[printer]
kinematics: delta
max_velocity: 400
max_accel: 4000
max_z_velocity: 100
print_radius: 175
minimum_z_position: -5
#delta_radius = 260.112069

[delta_calibrate]
radius: 140
horizontal_move_z: 10

[exclude_object]

[include mainsail.cfg]

[include manta-m5p.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

[extruder]
step_pin: PB12
dir_pin: !PB11
enable_pin: !PA8
microsteps: 16
gear_ratio: 80:20
rotation_distance: 22.1
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PC5
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA1
pressure_advance: 0.064
min_temp: 0
max_temp: 300
control = pid
pid_kp = 23.787
pid_ki = 2.234
pid_kd = 63.332

[heater_bed]
heater_pin: PA5
sensor_type: Generic 3950
sensor_pin: PA0
control: watermark
min_temp: 0
max_temp: 130
control = pid
pid_Kp = 59.284
pid_Ki = 2.311
pid_Kd = 380.157

#------------------------------------
[stepper_a]
step_pin: PC6
dir_pin: PC7
enable_pin: !PA9
microsteps: 32
rotation_distance: 20
endstop_pin: PC3
homing_speed: 60
#angle = 89.462753
#arm_length =  450.000
#position_endstop = 656

[stepper_b]
step_pin: PC8
dir_pin: PC9
enable_pin: !PA15
microsteps: 32
rotation_distance: 20
endstop_pin: PD3
#angle = 211.414703
#arm_length =  450.000
#position_endstop = 656

[stepper_c]
step_pin: PA10
dir_pin: PA14
enable_pin: !PA13
microsteps: 32
rotation_distance: 20
endstop_pin: PD2
#angle = 329.399662
#arm_length = 450.000
#position_endstop = 656


########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_a]
uart_pin: PD8
run_current: 0.900
diag_pin: PD2
stealthchop_threshold: 0

[tmc2209 stepper_b]
uart_pin: PD9
run_current: 0.900
diag_pin: PD3
stealthchop_threshold: 0

[tmc2209 stepper_c]
uart_pin: PB10
run_current: 0.900
diag_pin: PC3
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: PB2
run_current: 0.650
diag_pin: PC2


#-----------------------------------------

[gcode_macro PRINT_START]
gcode:
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    #SET_GCODE_OFFSET Z=0.0
    # Move the nozzle near the bed
    G1 Z5 F3500
    # Move the nozzle very close to the bed
    G1 Z0.15 F300

[gcode_macro PRINT_END]
gcode:
    # Retract and Home
    G1 E-3
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    G91

[gcode_macro _CLIENT_VARIABLE]
#variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
#variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
#variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
#variable_park_at_cancel   : true ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 263.749281
#*#
#*# [stepper_a]
#*# angle = 89.538055
#*# arm_length = 445.330334
#*# position_endstop = 657.241990
#*#
#*# [stepper_b]
#*# angle = 210.126879
#*# arm_length = 445.814457
#*# position_endstop = 657.053569
#*#
#*# [stepper_c]
#*# angle = 329.399662
#*# arm_length = 444.896880
#*# position_endstop = 656.578726
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 210233.000,210317.000,210083.000
#*# height1 = 0.0
#*# height1_pos = 188853.000,237062.000,237137.000
#*# height2 = 0.0
#*# height2_pos = 202954.000,202954.000,256209.000
#*# height3 = 0.0
#*# height3_pos = 232913.000,190365.000,232320.000
#*# height4 = 0.0
#*# height4_pos = 241919.000,203228.000,202854.000
#*# height5 = 0.0
#*# height5_pos = 228858.000,229045.000,191765.000
#*# height6 = 0.0
#*# height6_pos = 202800.000,248729.000,203004.000
#*# distance0 = 64.00999999999999
#*# distance0_pos1 = 210428.228,208985.595,210290.685
#*# distance0_pos2 = 220643.730,196771.996,220274.540
#*# distance1 = 64.14999999999999
#*# distance1_pos1 = 210948.558,209497.895,209247.180
#*# distance1_pos2 = 229834.793,204132.984,203835.863
#*# distance2 = 64.01
#*# distance2_pos1 = 210418.187,210541.464,208738.284
#*# distance2_pos2 = 220473.802,220579.951,196525.121
#*# distance3 = 64.03999999999999
#*# distance3_pos1 = 209374.601,211072.904,209266.035
#*# distance3_pos2 = 204024.279,229959.006,204114.511
#*# distance4 = 64.28999999999999
#*# distance4_pos1 = 208861.233,210553.652,210309.710
#*# distance4_pos2 = 196647.538,220786.192,220596.485
#*# distance5 = 63.989999999999995
#*# distance5_pos1 = 209384.553,209509.974,210825.526
#*# distance5_pos2 = 204171.353,204311.488,229711.033
#*# distance6 = 64.03
#*# distance6_pos1 = 220209.155,197830.495,218162.253
#*# distance6_pos2 = 229047.602,205007.248,203227.674
#*# distance7 = 64.1
#*# distance7_pos1 = 227503.771,205267.324,203487.720
#*# distance7_pos2 = 219192.581,221020.050,196887.326
#*# distance8 = 64.28
#*# distance8_pos1 = 218355.137,220170.380,197597.643
#*# distance8_pos2 = 203411.511,229185.061,204990.392
#*# distance9 = 63.67
#*# distance9_pos1 = 203667.461,227641.034,205235.991
#*# distance9_pos2 = 197005.734,219502.730,221020.472
#*# distance10 = 64.02000000000001
#*# distance10_pos1 = 197716.063,218651.899,220151.783
#*# distance10_pos2 = 205046.796,203687.417,228918.523
#*# distance11 = 64.22
#*# distance11_pos1 = 205296.582,203933.163,227374.835
#*# distance11_pos2 = 221072.380,197120.226,218994.274
